<!doctype html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Créer Produit</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
        rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/js/produit.js"></script>
</head>
<body class="container">

<!--barre de navigation-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Mercadona</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Catalogue</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/administration">Administration<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Formulaire d'ajout d'un produit-->
<h1>Ajouter un produit</h1>
<form class="col card p-3 my-5" id="form">
  <div class="form-group">
    <label for="libelle">Libellé</label>
    <input class="form-control" id="libelle" name="libelle" placeholder="Entrez le libellé" required autocomplete="off"

           type="text"/>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input class="form-control" id="description" name="description" placeholder="Entrez une description" required  autocomplete="off"

           type="text"/>
  </div>
  <div class="form-group">
    <label for="prixDeBase">Prix de base</label>
    <input class="form-control" id="prixDeBase" name="prixDeBase" placeholder="Entrez le prix de base" required autocomplete="on"

           type="text"
           pattern="^\d+(,\d{1,2})?(\.\d{1,2})?$"
           value =""/>
  </div>

  <div class="form-group">
    <label for="idcategorie">Catégorie</label>
    <select class="form-control" id="idcategorie" name="idcategorie" >
      <option value="">Sélectionnez une catégorie</option>
      <th:block th:each="categorie : ${categories}">
        <option th:value="${categorie.idcategorie}" th:text="${categorie.libelle}"></option>
      </th:block>
    </select>
  </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input class="form-control-file" id="image" name="image" type="file" />
    </div>

    <div>
      <input class="btn btn-primary" type="button" id="submit" value="Ajouter le produit">
      <input class="btn btn-dark" type="reset" value="Reset">
    </div>
    <div id="success" class="text-center" style="color:green;"></div>
    <div id="error" class="text-center" style="color:red;"></div>
  </form>
  <div th:if="${erreurProduit}" th:utext="${erreurProduit}" class="alert alert-success text-center"></div>
  <div th:if="${produitCree}" th:utext="${produitCree}" class="alert alert-success text-center"></div>

  </body>
  </html>

