<!doctype html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Créer Catégorie</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body class="container">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Mercadona</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Catalogue</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/administration">Administration<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1>Ajouter une catégorie</h1>

<form class="col card p-3 my-5" method="post" th:action="@{/administration/categorie}" th:object="${categorie_new}">
  <div class="form-group">
    <label for="libelle">Libellé</label>
    <input class="form-control" id="libelle" placeholder="Entrez le libellé" required autocomplete="off"
           th:field="*{libelle}"
           type="text"/>
  </div>

  <div>
    <input class="btn btn-primary" type="submit" value="Ajouter la catégorie">
    <input class="btn btn-dark" type="reset" value="Reset">
  </div>
</form>

<div th:if="${erreurCategorie}" th:utext="${erreurCategorie}" class="alert alert-success text-center"></div>
<div th:if="${categorieCreee}" th:utext="${categorieCreee}" class="alert alert-success text-center"></div>

<table class="table table-striped table-bordered " method="get" th:action="@{/}" th:object="${categories}">
  <tr>
    <th>ID</th>
    <th>Libellé</th>
  </tr>
  <tr th:if="${#lists.isEmpty(categories)}">
    <td class="text-center" colspan="7">Aucune categorie enregistrée</td>
  </tr>
  <tr th:each="categorie : ${categories}">
    <td class="align-middle" th:text="${categorie.idcategorie}"></td>
    <td class="align-middle" th:text="${categorie.libelle}"></td>
  </tr>
</table>

</body>
</html>