<!doctype html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Fiche Produit</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
        rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body class="container">

<!--barre de navigation-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Mercadona</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Catalogue</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/administration">Administration<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Aperçu des informations du produit-->
<h1>Fiche Produit</h1>
<table class="table table-striped table-bordered" method="get" th:action="@{/administration/produit/{id}}" th:object="${produit}">
  <thead>
  <tr>
    <th>ID</th>
    <th>Libellé</th>
    <th>Description</th>
    <th>Prix de base</th>
    <th>Catégorie</th>
    <th>Promotion en cours</th>
    <th>Prix en cours</th>
    <th>Image</th>
  </tr>
  </thead>
  <tbody>
    <td th:text="${produit.id}"></td>
    <td th:text="${produit.libelle}"></td>
    <td th:text="${produit.description}"></td>
    <td th:text="${produit.prixDeBase}+' €'"></td>
    <td th:text="${produit.categorie.libelle}"></td>
    <td th:text="${produit.promotion != null ? produit.promotion.remise+' % du '+ #temporals.format(produit.promotion.datedebut, 'dd/MM/yyyy')+' au '+#temporals.format(produit.promotion.datefin, 'dd/MM/yyyy') : ''}"></td>

     <td th:if="${produit.promotion != null and produit.promotion.datedebut <= T(java.time.LocalDate).now() and produit.promotion.datefin >= T(java.time.LocalDate).now()}" th:classappend="'promo'" th:text="${produitService.calculerPrixEnCours(produit)}+' €'"></td>

     <td th:if="${produit.promotion == null}" th:text="${produitService.calculerPrixEnCours(produit)}+' €'"></td>

     <td class="align-middle text-center">
       <img th:if="${produit.image != null}" th:src="@{${'/image/produit/'+ produit.id}}" alt="Image du produit" type="image/jpeg" style="max-width: 100px; max-height: 100px;"/>
   </tbody>
 </table>
 </form>

<!--Formulaire pour appliquer une promotion-->
 <h4 class="my-5">Appliquer une promotion</h4>
 <form class="col card p-3" method="post" th:action="@{'/administration/produit/'+${id}+'/promotion'}" th:object="${promoProduit}">
   <div class="form-group">
     <label for="datedebut">Promotion : date de début</label>
     <input class="form-control" id="datedebut" name="datedebut" type="date" required />
   </div>
   <div class="form-group">
     <label for="datefin">Promotion : date de fin</label>
     <input class="form-control" id="datefin" name="datefin"  type="date" required/>
   </div>
   <div class="form-group">
     <label for="remise">Promotion : remise (%)</label>
     <input class="form-control" id="remise" name="remise" type="number" required min="0" max="100"/>
   </div>
  <div class="form-group">
    <input id="submitBtn"class="btn btn-primary" type="submit" value="Appliquer la promotion" />
  </div>
</form>
<div id="dateError" class="text-danger"></div>
<div th:if="${produitMessage}" th:utext="${produitMessage}" class="alert alert-success text-center"></div>

<!-- Suppression du produit (fonctionnalité non déployée car non demandée dans le cahier des charges mais pouvant faire l'objet d'une évolution future)
<form method="post" th:action="@{'/administration/produit/'+${id}+'/supprimer'}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer définitivement ce produit ?')">
  <input type="hidden" name="produit" id="produit" th:value="${produit.id}" />
  <div class="form-group">
    <input class="btn btn-danger" type="submit" value="Supprimer le produit" />
  </div>
</form>
-->

<!--script pour vérifier la cohérence des dates saisies dans le formulaire-->
<script>
document.getElementById("submitBtn").addEventListener("click", function(event) {
  var datedebut = new Date(document.getElementById("datedebut").value);
  var datefin = new Date(document.getElementById("datefin").value);
  var currentDate = new Date();
  var dateError = document.getElementById("dateError");

else if (datefin <= datedebut) {
    dateError.innerHTML = "La date de fin doit être postérieure à la date de début.";
    event.preventDefault(); // Empêche l'envoi du formulaire
  } else {
    dateError.innerHTML = ""; // Efface le message d'erreur précédent

  }
});
  </script>

</body>
</html>
