<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Page d'accueil</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Mercadona</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Catalogue<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/index2">Administration</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Bienvenue sur votre plateforme de promotion Mercadona</h1>
    <div class="row mt-5">
        <div class="col-md-6">
            <a href="/searchLocataire" class="btn btn-primary btn-lg btn-block">Rechercher un locataire</a>
        </div>
        <div class="col-md-6">
            <a href="/createLocataire" class="btn btn-primary btn-lg btn-block">Ajouter un locataire</a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <a href="/searchAppartement" class="btn btn-primary btn-lg btn-block">Rechercher un appartement</a>
        </div>
        <div class="col-md-6">
            <a href="/createAppartement" class="btn btn-primary btn-lg btn-block">Ajouter un appartement</a>
        </div>
    </div>

</div>
<div th:if="${locataireMessage}" th:utext="${locataireMessage}" class="alert alert-success text-center"></div>
</body>
</html>
